.grid-container {
    height: 75vh;
    width: 80vw;
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
    padding-left: 10vw;
   
  }
  
  .grid-container > div {
    
    text-align: center;
    font-size: 30px;
    column-gap: 10px;
    align-items: center;
  }

  .screen{
    background: url('./assets/board.png') center center;
    background-size: contain;
    grid-column-start:1;
    grid-column-end: 3;
    width: 100%;
  }

  .item2 {
    background: url('./assets/bookshelf.png') center center;
    background-size:contain;
  }

  .item3{
    background-color: rgba(163, 92, 5, 0.854);
  }

  .item4{
    background-color: rgba(163, 92, 5, 0.854);
  }
  .item5{
    background-color: rgb(105, 176, 227);
  }

  .item6{
    background-color: rgba(130, 26, 227, 0.769);
  }


  .item7{
    background-color: rgba(163, 92, 5, 0.854);
  }
 
  .item8{
    background-color: rgba(165, 165, 165, 0.514);
    
  }

  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  .buttons{
    display: grid;
    width: 50%;
    padding-left: 20%;
    padding-top: 20%;
  }
  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

.custom-cursor{
    cursor: url('./assets/hamster.png'), auto;
}